@font-face {
    font-family: 'DuneRise';
    src: url('Dune_Rise.otf')  format('opentype'),
         url('Dune_Rise.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BleedingCowboys';
    src: url('Bleeding_Cowboys.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CowboyMovie';
    src: url('Cowboy_Movie.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DayRoman';
    src: url('Day_Roman.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PunkTypewriter';
    src: url('Punk_Typewriter.otf')  format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cyberpunk';
    src: url('Cyberpunk.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CyberPunkS';
    src: url('Cyberpunks.otf')  format('opentype'),
    url('Cyberpunks.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CyberConsole';
    src: url('CyberpunkWaifus.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}